// COLORS
$marine-blue: rgb(2, 41, 90);
$purplish-blue: rgb(71, 61, 255);
$pastel-blue: rgb(173, 190, 255);
$light-blue: rgb(191, 226, 253);
$strawberry-red: rgb(237, 53, 72);

$cool-gray: rgb(150, 153, 171);
$light-gray: rgb(214, 217, 230);
$magnolia: rgb(240, 246, 255);
$alabaster: rgb(240, 242, 255);
$white: rgb(255, 255, 255);

// TIPOGRAPHY
$font-family: "Ubuntu", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-extra-bold: 700;

// BREAKPOINTS
$bp-1000: 62.5em;
$bp-800: 50em;
$bp-600: 37.5em;
$bp-500: 31.25em;
$bp-375: 27em;
